body {
    margin: 0;
}

.container {
    width: 70%;
}

.disp-flex {
    display: flex;
}

.alg-start {
    align-items: flex-start;
}

.just-start {
    justify-content: flex-start;
}

.just-end {
    justify-content: flex-end;
}